In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import random

In [2]:
#read data
# the encoding is different so I had to use heading 0 and unicode escapte encoding to read it.
df = pd.read_csv('WB_data.csv',header=0,encoding = 'unicode_escape',delimiter='\t')

#display the first 5 rows
df.head()

,Country Name,Country Code,Series Name,Series Code,2000,2001,2002,2003,2004,2005,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,AFG,"Adjusted net enrollment rate, primary (% of pr...",SE.PRM.TENR,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1,Afghanistan,AFG,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
2,Afghanistan,AFG,"Adjusted net enrollment rate, primary, male (%...",SE.PRM.TENR.MA,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
3,Afghanistan,AFG,Adolescents out of school (% of lower secondar...,SE.SEC.UNER.LO.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,Afghanistan,AFG,"Adolescents out of school, female (% of female...",SE.SEC.UNER.LO.FE.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [4]:
#replace the ".."s with NaNs for easier workflow
df = df.replace("..", np.nan)

#and remove unnecessary Country Code and Series Code columns
df = df.drop(['Country Code', 'Series Code'],axis = 1)
#df.head()

In [5]:
df.dtypes

Country Name    object
Series Name     object
2000            object
2001            object
2002            object
2003            object
2004            object
2005            object
2006            object
2007            object
2008            object
2009            object
2010            object
2011            object
2012            object
2013            object
2014            object
2015            object
2016            object
2017            object
2018            object
2019            object
dtype: object

In [6]:
#name the colmuns so we can change the data type of the columns using a loop
Col_Names = list(df.columns)

for Col in Col_Names[2:]:
    df[Col] = pd.to_numeric(df[Col], errors = 'coerce')



#df.dtypes

Country Name     object
Series Name      object
2000            float64
2001            float64
2002            float64
2003            float64
2004            float64
2005            float64
2006            float64
2007            float64
2008            float64
2009            float64
2010            float64
2011            float64
2012            float64
2013            float64
2014            float64
2015            float64
2016            float64
2017            float64
2018            float64
2019            float64
dtype: object

In [11]:
# here convert the object to string in df

TypeError: to_string() got an unexpected keyword argument 'errors'

In [ ]:
#do some EDA here
#pick 4-5 indicators to compare between 3n countries, for core, semiperi and peri comparison

In [ ]:
#graph those